@import '/fonts/font.css';

#map {
  width: 100%;
  height: 100%;
}

#app #map {
  margin: 0;
  height: 100%;
  font-family: graphic-regular, sans-serif;
  color: #4f1c23;
}

.ol-zoom,
.ol-geobt,
.ol-full-screen,
.ol-attribution {
  left: .5em;
  z-index: 1;
}

.ol-zoom {
  top: 4.5em;
}

.ol-geobt,
.ol-full-screen,
.ol-attribution {
  right: auto;
}

.ol-scale-bar {
  bottom: 0.5em;
  left: 0.5em;
}

.ol-attribution {
  bottom: 2.5em;
}

.ol-geobt {
  left: .5em !important;
  right: auto !important;
  top: 2.5em !important;
  bottom: auto !important;
}

.ol-control.ol-geobt button:before {
  font-family: "FontAwesome";
  content: "\f041";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  border: none;
  width: auto;
}
.ol-control.ol-geobt button:after {
  width: 0;
}

.ol-zoom .ol-zoom-in,
.ol-zoom .ol-zoom-out {
  border-radius: 0;
}

.ol-control.ol-bar.ol-right .ol-group .ol-control:last-child > button {
  border-radius: 0;
}

.loading {
  display: none;
  background: #fff;
  border: 2px solid #369;
  left: 50%;
  margin: -2em -100px;
  padding: 0.5em;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 200px;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.btn {
  border-radius: 0;
  box-shadow: none;
  border: none;
  background-color: #b2b019;
  color: #fff;
  margin: 2px;
  padding: 6px 12px;
}
.btn:hover {
  background-color: #868484;
  color: #fff;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

/*
 * menu
 * ************************/
.ol-control {
  padding: 0;
}
.ol-control.ol-toggle button {
  cursor: pointer;
}
.ol-control.ol-bar.ol-right .ol-group {
  margin: 0;
}
.menuBar.ol-control.ol-bar.ol-top.ol-right {
  top: 0;
  right: 0;
  border: 2px solid #b2b019;
  border-radius: 0;
  width: 340px;
  max-width: 95%;
  background: #b2b019;
}
.ol-touch .ol-control.ol-bar.ol-top.ol-right, .ol-touch .ol-control.ol-bar.ol-top.ol-right {
  top: .5em;
}
.menuBar.ol-control.ol-bar.ol-right .ol-control,
.menuBar.ol-control.ol-bar.ol-right .ol-control {
  display: inline-block;
}
.menuBar.ol-control.ol-bar .ol-control.ol-toggle {
  margin: 6px;
}
.menuBar.ol-bar .ol-control button {
  background-color: transparent;
}
.menuBar.ol-control.ol-bar .ol-toggle.ol-active > button,
.menuBar.ol-control.ol-bar .ol-toggle.ol-active button:hover i {
  background-color: transparent;
  color: white;
}
.ol-control.ol-bar .ol-toggle.ol-active > button {
  background-color: white;
}
.ol-control button i {
  pointer-events: none;
  color: #4f1c23;
}

.logo button {
  width: auto;
  height: auto;
}
.logo img {
  width: 180px;
}
.logo2 img {
  width: 90px;
  margin-left: 20px;
}

.langBar {
  float: right;
}

.lang button {
  color: black;
}

.ol-control button {
  cursor: pointer;
  background-color: #aaa;
  border-radius: 0;
}
.ol-control button:hover {
  background-color: #777;
}
.ol-group .ol-bar .ol-control button {
  background-color: transparent;
}
.menuBar.ol-bar .ol-control button:hover i, 
.menuBar.ol-bar .ol-control button:focus i {
  color: white;
  background-color: transparent;
}

/*
 * overlays
 * ************************/
.ol-overlay.window { 
  width: 344px;
  max-width: 95%;
  background: #fff;
  color: #333;
  padding: 0.5em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 2em;
  height: auto;
  min-height: 500px;
  max-height: 100%;
  bottom: unset;
  border: 2px solid #b2b019;
}

.ol-overlay.window {
  right: 0;
  left: auto;
  padding: 0;
}
.ol-overlay.infoWindow {
  left: 3em;
  padding: 0;
}
.ol-touch .ol-overlay.infoWindow {
  left: .5em;
  right: auto;
}

.ol-overlay.window .ol-closebox { 
  color: #fff;
  right: 5px;
  top: 5px;
}
.ol-overlay.window .ol-closebox:before { 
  content: "\f00d";
  font-family: FontAwesome;
}
.ol-overlay.window.layersWindow .ol-closebox { 
  display: none;
}
#menu { 
  padding-top: 1.5em;
  font-size: 0.9em;
}

.window h2 {
  color: #ffffff;
  background-color: #b2b019;
  margin: 0;
  padding: .3em;
  font-size: 16px;
  font-family: graphic-semibold, sans-serif;
  text-transform: uppercase;
  position: relative;
}

h3 {
  font-size: 16px;
  font-family: graphic-semibold, sans-serif;
  border-bottom: 1px solid #4f1c23;
}

.dataTables_wrapper .link {
  text-decoration: underline;
  cursor: pointer;
}

.window .content {
  padding: 20px;
}

.window .content p {
  margin-top: 0;
}

.window .title {
  margin-left: 5px;
}

.window.layersWindow {
  height: calc(100% - 35px);
  overflow: scroll;
  z-index: 12;
}

#windowLayers {
  height: 100%;
}

.window.tableWindow {
  width: 90%;
  top: 100px;
  right: 50px;
  z-index: 12;
}
#pois-table,
#rutas-table {
  width: 100% !important;
}
.window.tableWindow .content {
  overflow: scroll;
  max-height: 600px;
}

/*
 * layer switcher
 * ************************/
.layer-switcher {
  position: relative;
  top: auto;
  right: auto;
}
.layer-switcher ul {
  margin: 0;
}
.layer-switcher ul ul {
  padding-left: 0;
}
.layer-switcher li.group + li.group {
  margin-top: 1em;
}
.layer-switcher li.group > label {
  font-family: graphic-semibold, sans-serif;
  border-bottom: 1px solid #4f1c23;;
  display: block;
}
.layer-switcher li.layer {
  width: 100%;
  display: table;
}
li.layer label {
  display: unset;
}
li.layer i {
  float: right;
  cursor: pointer;
}
img.legend {
  padding-left: 20px;
  display: none;
  max-width: 100%;
}

li.layer img.legend,
li.layer._nivell-de-protecci__00f3-d__2019espais-oberts img.legend:nth-of-type(2) {
  position: relative;
  margin-top: -10px;
  z-index: -1;
}
li.layer._nivell-de-protecci__00f3-d__2019espais-oberts img.legend:nth-of-type(2) {
  z-index: -2;
}
li.layer._planejament-urban__00edstic img.legend,
li.layer._cadastre img.legend {
  margin-top: 0;
}
li.layer._limit-administratiu img.legend:nth-of-type(2) {
  z-index: -2;
}
li.layer._limit-administratiu img.legend:nth-of-type(3) {
  z-index: -3;
}

#layerSwitcher input {
  display: none;
}

.layer-switcher li input {
  left: 0;
}
.layer-switcher li label {
  padding-left: 25px;
  margin-left: -20px;
}
.layer-switcher li.group > label {
  padding-left: 20px;
}
.layer-switcher li.base-group > label {
  padding-left: 0;
}
.hidden {
  display: none;
}

.group.layer-switcher-fold button:hover,
.group.layer-switcher-fold label:hover {
  cursor: pointer;
}

.fa-eye.off,
.fa-eye-slash,
.layer-switcher label.off {
  color: #aaa;
}

.layer-switcher .group button {
  right: 0;
  left: auto;
}
.layer-switcher .group.layer-switcher-close button {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.layer-switcher .group.fold.layer-switcher-close > ul {
  overflow: hidden;
  height: 0;
}

.leyenda {
  width: 20px;
  height: 20px;
}

img.leyenda.off {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.5;
  z-index: -1;
  position: relative;
}

.ol-control.ol-layerswitcher-image {
  bottom: 4.5em;
  top: auto !important;
  left: 0.1em;
  right: auto;
}

.ol-control.ol-layerswitcher-image button {
  display: none;
}

.layer._topogr__00e0fic-__0028_i_c_g_c__0029,
.layer._ortofoto-__0028_i_c_g_c__0029,
.layer._openstreetmap {
  display: none !important;
}

.autor {
  float: right;
}

/*
 * tooltip, popup
 * ************************/
.ol-popup {
  display: none;
  position: absolute;
  background-color: white;
  padding: 15px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
}

.featureTooltip .ol-popup:after, .featureTooltip .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.featureTooltip .ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.featureTooltip .ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-content {
  min-width: 200px;
  max-height: 450px;
  overflow-x: auto;
}

.ol-popup-content h2 {
  text-align: center;
  line-height: 1;
  margin: 0;
}

.featurePopup {
  transform: none !important;
  bottom: 20px;
  left: 100px;
  z-index: 12;
  width: calc(100% - 200px);
  max-width: 900px;
}
.featurePopup .ol-popup {
  left: 0;
  min-height: 500px;
}
.featurePopup .ol-popup .ol-popup-content {
  max-height: 800px;
}

.featureTooltip {
  z-index: 13;
}

.featurePopup img {
  max-width: 800px;
}
.featureTooltip .imgDiv {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.featureTooltip img {
  width: auto;
  height: 100%;
}

.featurePopup .ol-popup-content {
    min-width: 570px;
    max-height: 400px;
    overflow-x: auto;
    overflow-y: scroll;
}

.featurePopup .ol-popup-closer {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 150%;
    padding: 0 4px;
    color: gray;
    text-decoration: none;
}

.featurePopup .ol-popup-closer:after {
    content: "\2716";
}

.ol-popup div.infoResult {
    min-width: 130px;
}

.ol-popup div.infoResult p {
    padding: 0.1em;
    margin: 0;
}

.ol-popup-content h3 {
    margin: 0.25em 0;
}

.ol-popup.marker {
    margin-bottom: 30px;
}

/*
 * responsive
 * ************************/
.ol-touch .ol-control.ol-bar.ol-top.ol-right, .ol-touch .ol-control.ol-bar.ol-top.ol-right {
  top: 0;
}

@media only screen and (max-width: 420px) {
  .menuBar.ol-control.ol-bar.ol-top.ol-right {
    max-width: 85%;
  }

  .ol-control.ol-layerswitcher-image {
    bottom: 3.5em;
    top: auto !important;
    left: auto;
    right: 0.5em;
  }

  .featurePopup {
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .featurePopup .ol-popup-content {
    min-width: 100%;
  }

  .featurePopup img {
    max-width: 90%;
  }

  .ol-overlay.window {
    top: 3em;
    width: 100%;
    max-width: 100%;
  }

  .menuBar.ol-control.ol-bar.ol-top.ol-right {
    width: 100%;
    max-width: 100%;
  }

  .ol-full-screen {
    top: 3.5em;
  }

  .ol-geobt {
    top: 5.5em !important;
  }

  .ol-zoom {
    top: 7.5em;
  }

  .ol-scale-bar {
    bottom: 3.5em;
  }

  .ol-attribution {
    bottom: 5.5em;
  }
}